<a href="https://colab.research.google.com/github/Jeff-Adriane-Ypanto/OOP-58001/blob/main/Fundamentals_of_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Python Comments

In [ ]:
#This is a comment
print("Hello, world")

Python Variable

In [ ]:
b = "sally" #This is a type of string
b =  int(4)
print(b)

b = float (4)
print(b)

Type() function

In [10]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double quotes or single quotes

In [11]:
y = "John"
y= 'John'

Case sensitive

In [12]:
a = 4 
A = "Sally"
#A will not overwrite a

Multiple Variables

In [13]:
x, y, z = "one","two","three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [14]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [15]:
x = "enjoying"
print("Python programming is "+ x)

Python programming is enjoying

In [17]:
x = "Python is "
y = "enjoying"
z = x + y
print (z)

Python is enjoying

Arithmetic Operations

In [18]:
x = 5
y = 3
print (x+y)

8

In [19]:
x = 5
y =  3
sum = x + y
sum

8

Assignment Operators

In [20]:
a,b,c = 0,-1,6
c%=3
c

0

Comparison Operators

In [23]:
x = 5
y = 3
z = 2
x == y + z

True

Logical Operators

In [24]:
a,b,c = 0,-1,6
a>b and c>b
True

True

Identity Operators

In [25]:
a,b,c = 0,-1,5
a is c
False

False