<a href="https://colab.research.google.com/github/Jeff-Adriane-Ypanto/OOP-58001/blob/main/List%2C%20Tuple%2C%20and%20Set_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [15]:
class Shapes:
  def __init__(self, length, width):
    self. length = length
    self. width = width
  def area (self):
    return self.length * self.width

rectangle = Shapes(10,5)
rectangle.area()

50

In [14]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def me(self):
    print("My name is " + self.name + " Age is " + self.age)
    
myName = Person("Jeff", "18")
myName.me()

My name is Jeff Age is 18

List

In [19]:
pi = 3.14159
varList = ['abc', 1 , 'def', 2]
print(varList[0])

varList. append('ghi')
print(varList)
varList.remove(2)
print(varList)
varList.insert(3, 3)
print(varList)

abc
['abc', 1, 'def', 2, 'ghi']
['abc', 1, 'def', 'ghi']
['abc', 1, 'def', 3, 'ghi']

Dictionaries

In [22]:
students = {
          1:"Jeff",
          2:"Price",
          3:"John",
          4:"Leatherface",
          5:"Billy the puppet",
          4:"Jason",
}
print(students)

{1: 'Jeff', 2: 'Price', 3: 'John', 4: 'Jason', 5: 'Billy the puppet'}